@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* =======common style====== */
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

nav .name {
  margin-top: 47px;
  font-size: 25px;
  font-weight: bold;
}

/* ===========section01 start======================= */
.section1 {
  display: flex;
  align-items: center;
}

.left-side {
  flex: 1;
}

.left-side .section-title {
  font-size: 40px;
}

.left-side .section-para {
  margin-top: 16px;
  line-height: 1.8;
  text-align: justify;
}

.left-side .section-button {
  margin-top: 16px;
  border: 2px solid #e02c6d;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: 0.4s linear;
}

.left-side .section-button:hover {
  background-color: transparent;
  color: black;
}

.section-button .fas {
  margin-left: 8px;
}

.right-side {
  flex: 1;
  margin-top: 50px;
  margin-left: 100px;
}

.right-side img {
  width: 80%;
  background-image: url("./images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* animation: name duration timing-function delay iteration-count direction fill-mode */
  animation: image 4s linear infinite;
}

@keyframes image {
  0% {
    transform: translate(0px, 0px);
    transform: scale(1);
  }

  50% {
    transform: translate(5px, 5px);
    transform: scale(1.1);
  }

  100% {
    transform: translate(0px, 0px);
    transform: scale(1);
  }
}

/* ===========section01 end======================= */

/* ===========section02 start======================= */
.section2 {
  margin-top: 100px;
}
.section2 .product-title {
  font-size: 28px;
  font-weight: 600px;
  text-align: center;
}

.all-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
}

.card {
  width: 330px;
  height: 480px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 18px 15px;
}

.card .card-img img {
  width: 100%;
  border-radius: 5px;
}

.card-details .card-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
}

.card-details .card-price {
  font-size: 22px;
  color: rgba(99, 89, 89, 0.87);
}

.card-details .card-rating .filled {
  color: #fb8200;
}
.card-details .card-rating .empty {
  color: rgb(189, 182, 182);
}

.card-details .card-para {
  font-size: 14px;
  font-weight: 900px;
}

/* ==================Card button============ */
.section2 .card-button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: rgba(247, 51, 122, 0.884);
  margin-top: 30px;
  float: right;
}

.section2 .card-button .fas {
  margin-left: 5px;
}
.END {
  content: " ";
  clear: both;
}

/* ===========section02 end======================= */

/* ===========section03 start======================= */

.section3 {
  margin-top: 100px;
}

.section3 .contact {
  display: flex;
}

.contact span {
  color: #e02c6d;
}

.contact .left-side-contact {
  flex: 1;
}

.left-side-contact img {
  width: 100%;
  border-radius: 10px;
}

.contact .right-side-contact {
  flex: 1;
  /* box-shadow: 0px 0px 40px black; */
  padding: 20px;
}

.right-side-contact .contact-form {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  justify-content: center;
}

.contact-form .field-text {
  padding: 10px 20px;
  margin-top: 10px;
  width: 400px;
  border: none;
  border-bottom: 2px solid #e02c6d;
  border-radius: 3px;
  /* border-radius: 10px; */
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.contact-form .field-text:focus {
  background-color: rgba(255, 255, 255, 0.918);
}

.contact-form #field-text {
  padding: 10px 20px;
  margin-top: 10px;
  width: 400px;
  border: 2px solid #e02c6d;
  border-radius: 10px;
}

.contact-form .field-button {
  padding: 10px 40px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #e02c6d;
  color: rgb(247, 247, 247);
  font-weight: bold;
}

.field-button .fas {
  margin-left: 5px;
}

/* ===========section03 end======================= */

/* ====================Footer start======================= */
footer {
  width: 100%;
  margin-top: 100px;
  height: 180px;
  background-color: #0a0826;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #d9dbe1;
  line-height: 30px;
}

footer .footer-icon .fab {
  margin-top: 10px;
  margin-right: 16px;
}
/* ====================Footer end======================= */
