.container {
  padding: 0px 20px;
}

/* =========section02 start ==========*/

.all-cards {
  grid-template-columns: 1fr 1fr;
}

.card {
  margin: 0 auto;
}

.section2 .card-button {
  float: left;
}
/* =========section02 end ==========*/

/* =========section03 start ==========*/

.left-side-contact {
  text-align: center;
}

.right-side-contact {
  text-align: center;
  margin-left: 50px;
}

.contact-form .field-text,
#field-text {
  width: 350px;
}

.contact-form #field-text {
  width: 350px;
}
/* =========section03 end ==========*/
